<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Owen Says Wow</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <main>
  <div class="random-container">
    <!--Animated picture of Owen Wilson-->
    <!-- Get random wow (picture) -->
      <form class="get-random-wow" action="/random" method="post">
        <button class="owen-btn random-btn-pic"><img src="images/owen.png" class="animated-pic" ></button>
      </form>
      <h2 class="home-text">Click on Owen to get a random "wow"!</h2>
  </div>
 </main>
</body>
</html>

